<h1>Product Page</h1>
<p>Product_id : <%= @product.id %> </p>
<p>Product_name : <%= @product.name %> </p>
<p>Product_price : <%= @product.price %> </p>
<p>Product_detail : <%= @product.detail %> </p>
